aws_region   = "us-east-1"
project_name = "ai-chatbot"
environment  = "dev"

cors_allowed_origins = [
  "http://localhost:5173",
]

mfa_configuration   = "OPTIONAL"
password_min_length = 12
deletion_protection = false
